@use "./mixins";
@use "./variables";

.detail-container{
    font-size: 1rem;
    .bigger-container{

        background-color: #2a2a2a;
        box-shadow: 0px 0px 20px 20px #292929;
        border-color: transparent;
        padding: 1rem;
        border-radius: 10px;
        .img-box{
            img{
                width: 350px;
            }
        }

    }
}